input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
  }
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  .boxx{
      width: 100%;
  }
  .wrap_form{
      padding-right: 15%;
      padding-left: 15%;
      padding-top: 5%;
      width: 100%;
  }
  .loginn{
      text-align: center;
  }
  .wrap_cont{
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 15%;
    width: 100%;
  }
  .chooser{
      padding-top: 10px;
      margin-bottom: 20px;
      font-size: 20px;
  }
  .submitt_btn{
    position: absolute;
    bottom:   0;
    right: 0;
  }